<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
    <arg name="map_file" value="$(find p2_mgallai)/maps/gallai_lab_map.yaml"/>
  </include>

  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>
</launch>
